.footer{
    display: flex;
    margin-top: 1rem;
    padding: 1rem;
    /* position: relative; */
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #dde1e7;
    color: rgb(63, 143, 6);    
  }