html,
body {
          padding: 0;
          margin: 0;
          font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
                    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
                    Helvetica Neue, sans-serif;
          background-color: #dde1e7;
}

a {
          color: inherit;
          text-decoration: none;
}

* {
          box-sizing: border-box;
}

.container {
          padding: 0 2rem;
}

.center {
          display: block;
          margin-left: auto;
          margin-right: auto;
}
.main {
          min-height: 100vh;
          padding: 1rem 0;
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          color: rgb(53, 53, 53);
}

/* DELETE THIS WHEN NEW FOOTER CSS HAVE BEEN TESTED */
/* .footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
} */

.title {
          margin: 0;
          line-height: 1.15;
          font-size: 4rem;
          font-weight: lighter;
}

.title,
.description {
          text-align: center;
          font-weight: lighter;
}

.description {
          margin: 4rem 0;
          line-height: 1.5;
          font-size: 1.5rem;
}

.grid {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          min-width: 80%;
          max-width: 100%;
}

.card {
          display: flex;
          margin: 0.5rem;
          padding: 0.5rem;
          text-align: left;
          color: inherit;
          text-decoration: none;
          list-style-type: none;
          border-bottom: 1px solid rgb(63, 143, 6);
          transition: color 0.15s ease, border-color 0.15s ease;
          width: 100%;
}

.button-container {
          display: flex;
          width: 100%;
          justify-content: right;
}

.card button {
          border: 0;
          height: 1.5rem;
          border-radius: 3px;
          box-shadow: -3px -3px 7px #ffffff73,
                    3px 3px 15px rgba(94, 104, 121, 0.288);
          color: rgb(63, 143, 6);
          background-color: #dde1e7;
}

.card button:hover {
          cursor: pointer;
          color: rgb(105, 187, 47);
}

.card button:active {
          box-shadow: inset -3px -3px 7px #ffffff73,
                    inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.card h2 {
          margin: 0 0 0 0;
          font-size: 1rem;
          min-width: 50%;
          font-weight: 400;
}

.card p {
          margin: 0;
          font-size: 1.25rem;
          line-height: 1.5;
}

.active {
          color: rgb(102, 196, 36);
          /* text-shadow: 1px 1px 1px; */
}

/* Mobile friendly layout */
@media (max-width: 100%) {
          .grid {
                    width: 100%;
                    flex-direction: column;
          }
}
