.nav {
    height: 50px;
    padding: 10px;
    background: #000;
    color: #fff;
    display: flex;
  }

  .nav leftsideblock{
    display: flex;
    align-items: left;
    justify-content: left;
  }

  .nav rightsideblock{
    display: flex;
    align-items: right;
    justify-content: right;
    width: 100%;
  }


  .nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }
  
  .nav ul li a {
    margin: 5px 15px;
  }
